/* Extensive CSS Stylesheet */
.element-0 {
  color: #4af232;
  margin: 5px;
  border: 4px solid black;
  z-index: 0;
}

.element-1 {
  color: #7fe8fe;
  margin: 31px;
  border: 1px solid black;
  z-index: 1;
}

.element-2 {
  color: #93e116;
  margin: 24px;
  border: 3px solid black;
  z-index: 2;
}

.element-3 {
  color: #404255;
  margin: 37px;
  border: 3px solid black;
  z-index: 3;
}

.element-4 {
  color: #547032;
  margin: 24px;
  border: 2px solid black;
  z-index: 4;
}

.element-5 {
  color: #b2ef5f;
  margin: 33px;
  border: 5px solid black;
  z-index: 5;
}

.element-6 {
  color: #7ec921;
  margin: 17px;
  border: 1px solid black;
  z-index: 6;
}

.element-7 {
  color: #888236;
  margin: 5px;
  border: 4px solid black;
  z-index: 7;
}

.element-8 {
  color: #b1436a;
  margin: 12px;
  border: 1px solid black;
  z-index: 8;
}

.element-9 {
  color: #bb8abe;
  margin: 20px;
  border: 1px solid black;
  z-index: 9;
}

.element-10 {
  color: #7d243f;
  margin: 41px;
  border: 5px solid black;
  z-index: 10;
}

.element-11 {
  color: #24afc4;
  margin: 45px;
  border: 5px solid black;
  z-index: 11;
}

.element-12 {
  color: #859670;
  margin: 30px;
  border: 4px solid black;
  z-index: 12;
}

.element-13 {
  color: #e71c29;
  margin: 18px;
  border: 1px solid black;
  z-index: 13;
}

.element-14 {
  color: #2fe317;
  margin: 47px;
  border: 5px solid black;
  z-index: 14;
}

.element-15 {
  color: #326f43;
  margin: 0px;
  border: 5px solid black;
  z-index: 15;
}

.element-16 {
  color: #99bf40;
  margin: 35px;
  border: 4px solid black;
  z-index: 16;
}

.element-17 {
  color: #caa68b;
  margin: 20px;
  border: 5px solid black;
  z-index: 17;
}

.element-18 {
  color: #d11aed;
  margin: 17px;
  border: 5px solid black;
  z-index: 18;
}

.element-19 {
  color: #51bec3;
  margin: 30px;
  border: 2px solid black;
  z-index: 19;
}

.element-20 {
  color: #97b20e;
  margin: 44px;
  border: 3px solid black;
  z-index: 20;
}

.element-21 {
  color: #edc630;
  margin: 44px;
  border: 4px solid black;
  z-index: 21;
}

.element-22 {
  color: #6b0ed8;
  margin: 42px;
  border: 1px solid black;
  z-index: 22;
}

.element-23 {
  color: #b484c0;
  margin: 12px;
  border: 5px solid black;
  z-index: 23;
}

.element-24 {
  color: #cc8ac2;
  margin: 5px;
  border: 3px solid black;
  z-index: 24;
}

.element-25 {
  color: #11940c;
  margin: 23px;
  border: 4px solid black;
  z-index: 25;
}

.element-26 {
  color: #7b178b;
  margin: 20px;
  border: 2px solid black;
  z-index: 26;
}

.element-27 {
  color: #2e09ee;
  margin: 16px;
  border: 4px solid black;
  z-index: 27;
}

.element-28 {
  color: #b9298a;
  margin: 17px;
  border: 2px solid black;
  z-index: 28;
}

.element-29 {
  color: #625809;
  margin: 3px;
  border: 5px solid black;
  z-index: 29;
}

.element-30 {
  color: #4bf4b0;
  margin: 23px;
  border: 4px solid black;
  z-index: 30;
}

.element-31 {
  color: #1885df;
  margin: 34px;
  border: 5px solid black;
  z-index: 31;
}

.element-32 {
  color: #0dc0b5;
  margin: 32px;
  border: 5px solid black;
  z-index: 32;
}

.element-33 {
  color: #af03a5;
  margin: 29px;
  border: 5px solid black;
  z-index: 33;
}

.element-34 {
  color: #3e97bb;
  margin: 3px;
  border: 2px solid black;
  z-index: 34;
}

.element-35 {
  color: #496432;
  margin: 16px;
  border: 4px solid black;
  z-index: 35;
}

.element-36 {
  color: #46f5fe;
  margin: 36px;
  border: 1px solid black;
  z-index: 36;
}

.element-37 {
  color: #3cd946;
  margin: 49px;
  border: 1px solid black;
  z-index: 37;
}

.element-38 {
  color: #f1abc3;
  margin: 16px;
  border: 5px solid black;
  z-index: 38;
}

.element-39 {
  color: #c70f05;
  margin: 45px;
  border: 2px solid black;
  z-index: 39;
}

.element-40 {
  color: #9e8207;
  margin: 43px;
  border: 5px solid black;
  z-index: 40;
}

.element-41 {
  color: #5b30e3;
  margin: 17px;
  border: 2px solid black;
  z-index: 41;
}

.element-42 {
  color: #ad1a11;
  margin: 35px;
  border: 3px solid black;
  z-index: 42;
}

.element-43 {
  color: #37044c;
  margin: 43px;
  border: 5px solid black;
  z-index: 43;
}

.element-44 {
  color: #62b8ca;
  margin: 31px;
  border: 5px solid black;
  z-index: 44;
}

.element-45 {
  color: #79a0d1;
  margin: 47px;
  border: 4px solid black;
  z-index: 45;
}

.element-46 {
  color: #a11f94;
  margin: 29px;
  border: 4px solid black;
  z-index: 46;
}

.element-47 {
  color: #b75349;
  margin: 20px;
  border: 4px solid black;
  z-index: 47;
}

.element-48 {
  color: #c3355f;
  margin: 43px;
  border: 3px solid black;
  z-index: 48;
}

.element-49 {
  color: #0b6af9;
  margin: 8px;
  border: 3px solid black;
  z-index: 49;
}

.element-50 {
  color: #041a43;
  margin: 37px;
  border: 3px solid black;
  z-index: 50;
}

.element-51 {
  color: #833617;
  margin: 13px;
  border: 3px solid black;
  z-index: 51;
}

.element-52 {
  color: #640178;
  margin: 14px;
  border: 1px solid black;
  z-index: 52;
}

.element-53 {
  color: #879db1;
  margin: 0px;
  border: 3px solid black;
  z-index: 53;
}

.element-54 {
  color: #b48008;
  margin: 32px;
  border: 2px solid black;
  z-index: 54;
}

.element-55 {
  color: #d0272e;
  margin: 20px;
  border: 5px solid black;
  z-index: 55;
}

.element-56 {
  color: #7b37e4;
  margin: 12px;
  border: 3px solid black;
  z-index: 56;
}

.element-57 {
  color: #7415c2;
  margin: 29px;
  border: 2px solid black;
  z-index: 57;
}

.element-58 {
  color: #4deade;
  margin: 33px;
  border: 5px solid black;
  z-index: 58;
}

.element-59 {
  color: #01e7b1;
  margin: 29px;
  border: 1px solid black;
  z-index: 59;
}

.element-60 {
  color: #db5f2c;
  margin: 4px;
  border: 2px solid black;
  z-index: 60;
}

.element-61 {
  color: #792b42;
  margin: 45px;
  border: 5px solid black;
  z-index: 61;
}

.element-62 {
  color: #66bb4e;
  margin: 36px;
  border: 4px solid black;
  z-index: 62;
}

.element-63 {
  color: #40da79;
  margin: 25px;
  border: 4px solid black;
  z-index: 63;
}

.element-64 {
  color: #5481ee;
  margin: 38px;
  border: 1px solid black;
  z-index: 64;
}

.element-65 {
  color: #63ed64;
  margin: 40px;
  border: 1px solid black;
  z-index: 65;
}

.element-66 {
  color: #cd3ab9;
  margin: 36px;
  border: 2px solid black;
  z-index: 66;
}

.element-67 {
  color: #3fc6c2;
  margin: 5px;
  border: 2px solid black;
  z-index: 67;
}

.element-68 {
  color: #e842a5;
  margin: 8px;
  border: 5px solid black;
  z-index: 68;
}

.element-69 {
  color: #cebb5d;
  margin: 3px;
  border: 2px solid black;
  z-index: 69;
}

.element-70 {
  color: #ee0a9f;
  margin: 31px;
  border: 4px solid black;
  z-index: 70;
}

.element-71 {
  color: #de70d7;
  margin: 23px;
  border: 5px solid black;
  z-index: 71;
}

.element-72 {
  color: #9c8bf9;
  margin: 17px;
  border: 5px solid black;
  z-index: 72;
}

.element-73 {
  color: #859420;
  margin: 39px;
  border: 4px solid black;
  z-index: 73;
}

.element-74 {
  color: #c45eb6;
  margin: 46px;
  border: 5px solid black;
  z-index: 74;
}

.element-75 {
  color: #5394cb;
  margin: 40px;
  border: 4px solid black;
  z-index: 75;
}

.element-76 {
  color: #3720c7;
  margin: 19px;
  border: 3px solid black;
  z-index: 76;
}

.element-77 {
  color: #b992f4;
  margin: 12px;
  border: 3px solid black;
  z-index: 77;
}

.element-78 {
  color: #d0d4f3;
  margin: 3px;
  border: 3px solid black;
  z-index: 78;
}

.element-79 {
  color: #cf252e;
  margin: 20px;
  border: 5px solid black;
  z-index: 79;
}

.element-80 {
  color: #509c2d;
  margin: 1px;
  border: 2px solid black;
  z-index: 80;
}

.element-81 {
  color: #642252;
  margin: 18px;
  border: 4px solid black;
  z-index: 81;
}

.element-82 {
  color: #81c0c3;
  margin: 12px;
  border: 3px solid black;
  z-index: 82;
}

.element-83 {
  color: #d4c62d;
  margin: 31px;
  border: 2px solid black;
  z-index: 83;
}

.element-84 {
  color: #3333bd;
  margin: 17px;
  border: 4px solid black;
  z-index: 84;
}

.element-85 {
  color: #abd7b6;
  margin: 31px;
  border: 4px solid black;
  z-index: 85;
}

.element-86 {
  color: #aefae2;
  margin: 38px;
  border: 1px solid black;
  z-index: 86;
}

.element-87 {
  color: #9cc088;
  margin: 26px;
  border: 1px solid black;
  z-index: 87;
}

.element-88 {
  color: #6f8e1a;
  margin: 27px;
  border: 4px solid black;
  z-index: 88;
}

.element-89 {
  color: #48af88;
  margin: 22px;
  border: 3px solid black;
  z-index: 89;
}

.element-90 {
  color: #ef255b;
  margin: 8px;
  border: 3px solid black;
  z-index: 90;
}

.element-91 {
  color: #129016;
  margin: 11px;
  border: 2px solid black;
  z-index: 91;
}

.element-92 {
  color: #3673c5;
  margin: 42px;
  border: 2px solid black;
  z-index: 92;
}

.element-93 {
  color: #7d350c;
  margin: 42px;
  border: 5px solid black;
  z-index: 93;
}

.element-94 {
  color: #23c5ee;
  margin: 9px;
  border: 3px solid black;
  z-index: 94;
}

.element-95 {
  color: #7c6af1;
  margin: 43px;
  border: 4px solid black;
  z-index: 95;
}

.element-96 {
  color: #2ade62;
  margin: 12px;
  border: 3px solid black;
  z-index: 96;
}

.element-97 {
  color: #261e6c;
  margin: 35px;
  border: 2px solid black;
  z-index: 97;
}

.element-98 {
  color: #70e9f8;
  margin: 16px;
  border: 4px solid black;
  z-index: 98;
}

.element-99 {
  color: #f42aeb;
  margin: 21px;
  border: 1px solid black;
  z-index: 99;
}

.element-100 {
  color: #90ed32;
  margin: 9px;
  border: 2px solid black;
  z-index: 100;
}

.element-101 {
  color: #470a21;
  margin: 36px;
  border: 4px solid black;
  z-index: 101;
}

.element-102 {
  color: #96c3e3;
  margin: 18px;
  border: 3px solid black;
  z-index: 102;
}

.element-103 {
  color: #d1ae5c;
  margin: 5px;
  border: 1px solid black;
  z-index: 103;
}

.element-104 {
  color: #42dfb2;
  margin: 46px;
  border: 2px solid black;
  z-index: 104;
}

.element-105 {
  color: #8d4aae;
  margin: 18px;
  border: 4px solid black;
  z-index: 105;
}

.element-106 {
  color: #8e9b54;
  margin: 26px;
  border: 2px solid black;
  z-index: 106;
}

.element-107 {
  color: #072c11;
  margin: 43px;
  border: 4px solid black;
  z-index: 107;
}

.element-108 {
  color: #7dd376;
  margin: 45px;
  border: 1px solid black;
  z-index: 108;
}

.element-109 {
  color: #13a899;
  margin: 10px;
  border: 3px solid black;
  z-index: 109;
}

.element-110 {
  color: #fea3ac;
  margin: 15px;
  border: 2px solid black;
  z-index: 110;
}

.element-111 {
  color: #88b897;
  margin: 36px;
  border: 1px solid black;
  z-index: 111;
}

.element-112 {
  color: #94bacd;
  margin: 11px;
  border: 2px solid black;
  z-index: 112;
}

.element-113 {
  color: #1a6125;
  margin: 26px;
  border: 2px solid black;
  z-index: 113;
}

.element-114 {
  color: #beffee;
  margin: 31px;
  border: 1px solid black;
  z-index: 114;
}

.element-115 {
  color: #253381;
  margin: 4px;
  border: 4px solid black;
  z-index: 115;
}

.element-116 {
  color: #dbaf1c;
  margin: 34px;
  border: 3px solid black;
  z-index: 116;
}

.element-117 {
  color: #cbbad3;
  margin: 45px;
  border: 2px solid black;
  z-index: 117;
}

.element-118 {
  color: #8e3baa;
  margin: 44px;
  border: 5px solid black;
  z-index: 118;
}

.element-119 {
  color: #c9a16f;
  margin: 41px;
  border: 5px solid black;
  z-index: 119;
}

.element-120 {
  color: #1c20f6;
  margin: 16px;
  border: 1px solid black;
  z-index: 120;
}

.element-121 {
  color: #b7a0c1;
  margin: 17px;
  border: 2px solid black;
  z-index: 121;
}

.element-122 {
  color: #05cd06;
  margin: 35px;
  border: 1px solid black;
  z-index: 122;
}

.element-123 {
  color: #c7a8eb;
  margin: 50px;
  border: 4px solid black;
  z-index: 123;
}

.element-124 {
  color: #32b0bd;
  margin: 18px;
  border: 3px solid black;
  z-index: 124;
}

.element-125 {
  color: #b4cb0f;
  margin: 41px;
  border: 2px solid black;
  z-index: 125;
}

.element-126 {
  color: #a8c985;
  margin: 31px;
  border: 5px solid black;
  z-index: 126;
}

.element-127 {
  color: #54af72;
  margin: 48px;
  border: 3px solid black;
  z-index: 127;
}

.element-128 {
  color: #38d2b9;
  margin: 39px;
  border: 3px solid black;
  z-index: 128;
}

.element-129 {
  color: #7d7c01;
  margin: 7px;
  border: 1px solid black;
  z-index: 129;
}

.element-130 {
  color: #13a89f;
  margin: 4px;
  border: 2px solid black;
  z-index: 130;
}

.element-131 {
  color: #a7af6b;
  margin: 39px;
  border: 1px solid black;
  z-index: 131;
}

.element-132 {
  color: #8f775e;
  margin: 2px;
  border: 4px solid black;
  z-index: 132;
}

.element-133 {
  color: #0bc374;
  margin: 14px;
  border: 2px solid black;
  z-index: 133;
}

.element-134 {
  color: #fafea6;
  margin: 2px;
  border: 3px solid black;
  z-index: 134;
}

.element-135 {
  color: #916abf;
  margin: 35px;
  border: 1px solid black;
  z-index: 135;
}

.element-136 {
  color: #20d453;
  margin: 42px;
  border: 1px solid black;
  z-index: 136;
}

.element-137 {
  color: #efff69;
  margin: 3px;
  border: 1px solid black;
  z-index: 137;
}

.element-138 {
  color: #190e43;
  margin: 48px;
  border: 2px solid black;
  z-index: 138;
}

.element-139 {
  color: #02e1ba;
  margin: 8px;
  border: 3px solid black;
  z-index: 139;
}

.element-140 {
  color: #6a3a2e;
  margin: 18px;
  border: 5px solid black;
  z-index: 140;
}

.element-141 {
  color: #775814;
  margin: 25px;
  border: 2px solid black;
  z-index: 141;
}

.element-142 {
  color: #35b953;
  margin: 5px;
  border: 3px solid black;
  z-index: 142;
}

.element-143 {
  color: #1bd0bd;
  margin: 3px;
  border: 1px solid black;
  z-index: 143;
}

.element-144 {
  color: #1f7fa2;
  margin: 0px;
  border: 3px solid black;
  z-index: 144;
}

.element-145 {
  color: #1e0a14;
  margin: 39px;
  border: 3px solid black;
  z-index: 145;
}

.element-146 {
  color: #f9ee49;
  margin: 38px;
  border: 2px solid black;
  z-index: 146;
}

.element-147 {
  color: #718a08;
  margin: 14px;
  border: 4px solid black;
  z-index: 147;
}

.element-148 {
  color: #5524e7;
  margin: 20px;
  border: 3px solid black;
  z-index: 148;
}

.element-149 {
  color: #fd42ef;
  margin: 0px;
  border: 3px solid black;
  z-index: 149;
}

.element-150 {
  color: #098c2b;
  margin: 0px;
  border: 4px solid black;
  z-index: 150;
}

.element-151 {
  color: #ad2c01;
  margin: 14px;
  border: 3px solid black;
  z-index: 151;
}

.element-152 {
  color: #3c6390;
  margin: 33px;
  border: 4px solid black;
  z-index: 152;
}

.element-153 {
  color: #7facc0;
  margin: 10px;
  border: 3px solid black;
  z-index: 153;
}

.element-154 {
  color: #81a319;
  margin: 45px;
  border: 4px solid black;
  z-index: 154;
}

.element-155 {
  color: #ec8c83;
  margin: 14px;
  border: 3px solid black;
  z-index: 155;
}

.element-156 {
  color: #eb0cd7;
  margin: 50px;
  border: 1px solid black;
  z-index: 156;
}

.element-157 {
  color: #8db1fa;
  margin: 19px;
  border: 4px solid black;
  z-index: 157;
}

.element-158 {
  color: #9b9d80;
  margin: 35px;
  border: 5px solid black;
  z-index: 158;
}

.element-159 {
  color: #8114e1;
  margin: 15px;
  border: 4px solid black;
  z-index: 159;
}

.element-160 {
  color: #60ce11;
  margin: 11px;
  border: 4px solid black;
  z-index: 160;
}

.element-161 {
  color: #4c8cca;
  margin: 45px;
  border: 4px solid black;
  z-index: 161;
}

.element-162 {
  color: #89c2ec;
  margin: 2px;
  border: 2px solid black;
  z-index: 162;
}

.element-163 {
  color: #f4732b;
  margin: 34px;
  border: 1px solid black;
  z-index: 163;
}

.element-164 {
  color: #e67c87;
  margin: 12px;
  border: 3px solid black;
  z-index: 164;
}

.element-165 {
  color: #7adc2a;
  margin: 40px;
  border: 2px solid black;
  z-index: 165;
}

.element-166 {
  color: #9ed183;
  margin: 45px;
  border: 2px solid black;
  z-index: 166;
}

.element-167 {
  color: #ab64b1;
  margin: 14px;
  border: 1px solid black;
  z-index: 167;
}

.element-168 {
  color: #e50db5;
  margin: 2px;
  border: 3px solid black;
  z-index: 168;
}

.element-169 {
  color: #425b54;
  margin: 4px;
  border: 4px solid black;
  z-index: 169;
}

.element-170 {
  color: #054392;
  margin: 41px;
  border: 3px solid black;
  z-index: 170;
}

.element-171 {
  color: #0e8c1a;
  margin: 32px;
  border: 3px solid black;
  z-index: 171;
}

.element-172 {
  color: #7a48af;
  margin: 2px;
  border: 1px solid black;
  z-index: 172;
}

.element-173 {
  color: #5bd77e;
  margin: 32px;
  border: 5px solid black;
  z-index: 173;
}

.element-174 {
  color: #fc799f;
  margin: 26px;
  border: 5px solid black;
  z-index: 174;
}

.element-175 {
  color: #a55141;
  margin: 38px;
  border: 1px solid black;
  z-index: 175;
}

.element-176 {
  color: #e20b50;
  margin: 14px;
  border: 4px solid black;
  z-index: 176;
}

.element-177 {
  color: #7edc62;
  margin: 43px;
  border: 2px solid black;
  z-index: 177;
}

.element-178 {
  color: #12335b;
  margin: 6px;
  border: 4px solid black;
  z-index: 178;
}

.element-179 {
  color: #660f20;
  margin: 15px;
  border: 4px solid black;
  z-index: 179;
}

.element-180 {
  color: #0f58ae;
  margin: 39px;
  border: 2px solid black;
  z-index: 180;
}

.element-181 {
  color: #7dfce6;
  margin: 38px;
  border: 3px solid black;
  z-index: 181;
}

.element-182 {
  color: #2b38d6;
  margin: 41px;
  border: 4px solid black;
  z-index: 182;
}

.element-183 {
  color: #7bde01;
  margin: 38px;
  border: 3px solid black;
  z-index: 183;
}

.element-184 {
  color: #09c1b3;
  margin: 24px;
  border: 5px solid black;
  z-index: 184;
}

.element-185 {
  color: #31742a;
  margin: 33px;
  border: 5px solid black;
  z-index: 185;
}

.element-186 {
  color: #d2ad6f;
  margin: 40px;
  border: 1px solid black;
  z-index: 186;
}

.element-187 {
  color: #e9864e;
  margin: 4px;
  border: 4px solid black;
  z-index: 187;
}

.element-188 {
  color: #84dd34;
  margin: 18px;
  border: 3px solid black;
  z-index: 188;
}

.element-189 {
  color: #caeb51;
  margin: 40px;
  border: 3px solid black;
  z-index: 189;
}

.element-190 {
  color: #44216b;
  margin: 31px;
  border: 1px solid black;
  z-index: 190;
}

.element-191 {
  color: #b43890;
  margin: 10px;
  border: 3px solid black;
  z-index: 191;
}

.element-192 {
  color: #36c095;
  margin: 23px;
  border: 3px solid black;
  z-index: 192;
}

.element-193 {
  color: #98d63b;
  margin: 31px;
  border: 1px solid black;
  z-index: 193;
}

.element-194 {
  color: #15ac91;
  margin: 44px;
  border: 4px solid black;
  z-index: 194;
}

.element-195 {
  color: #65eadb;
  margin: 24px;
  border: 4px solid black;
  z-index: 195;
}

.element-196 {
  color: #e91180;
  margin: 31px;
  border: 2px solid black;
  z-index: 196;
}

.element-197 {
  color: #f833a3;
  margin: 21px;
  border: 4px solid black;
  z-index: 197;
}

.element-198 {
  color: #a31437;
  margin: 9px;
  border: 3px solid black;
  z-index: 198;
}

.element-199 {
  color: #cfa4c3;
  margin: 13px;
  border: 2px solid black;
  z-index: 199;
}

.element-200 {
  color: #96bf21;
  margin: 24px;
  border: 2px solid black;
  z-index: 200;
}

.element-201 {
  color: #c1fd68;
  margin: 45px;
  border: 1px solid black;
  z-index: 201;
}

.element-202 {
  color: #ca498c;
  margin: 8px;
  border: 5px solid black;
  z-index: 202;
}

.element-203 {
  color: #94c0a5;
  margin: 21px;
  border: 2px solid black;
  z-index: 203;
}

.element-204 {
  color: #856829;
  margin: 16px;
  border: 1px solid black;
  z-index: 204;
}

.element-205 {
  color: #fb0183;
  margin: 12px;
  border: 3px solid black;
  z-index: 205;
}

.element-206 {
  color: #5713f7;
  margin: 8px;
  border: 3px solid black;
  z-index: 206;
}

.element-207 {
  color: #5a5b2b;
  margin: 30px;
  border: 4px solid black;
  z-index: 207;
}

.element-208 {
  color: #faed0d;
  margin: 14px;
  border: 1px solid black;
  z-index: 208;
}

.element-209 {
  color: #24eb90;
  margin: 19px;
  border: 4px solid black;
  z-index: 209;
}

.element-210 {
  color: #cea3b2;
  margin: 46px;
  border: 1px solid black;
  z-index: 210;
}

.element-211 {
  color: #ccfeb1;
  margin: 25px;
  border: 3px solid black;
  z-index: 211;
}

.element-212 {
  color: #9879bc;
  margin: 34px;
  border: 1px solid black;
  z-index: 212;
}

.element-213 {
  color: #5f6e0c;
  margin: 14px;
  border: 3px solid black;
  z-index: 213;
}

.element-214 {
  color: #c623ff;
  margin: 48px;
  border: 1px solid black;
  z-index: 214;
}

.element-215 {
  color: #eac6e3;
  margin: 30px;
  border: 1px solid black;
  z-index: 215;
}

.element-216 {
  color: #67f019;
  margin: 39px;
  border: 1px solid black;
  z-index: 216;
}

.element-217 {
  color: #76f5b2;
  margin: 3px;
  border: 1px solid black;
  z-index: 217;
}

.element-218 {
  color: #d2bff9;
  margin: 44px;
  border: 5px solid black;
  z-index: 218;
}

.element-219 {
  color: #3d6a2a;
  margin: 39px;
  border: 2px solid black;
  z-index: 219;
}

.element-220 {
  color: #88e218;
  margin: 44px;
  border: 5px solid black;
  z-index: 220;
}

.element-221 {
  color: #367c0d;
  margin: 45px;
  border: 3px solid black;
  z-index: 221;
}

.element-222 {
  color: #cf5962;
  margin: 49px;
  border: 2px solid black;
  z-index: 222;
}

.element-223 {
  color: #1db93f;
  margin: 27px;
  border: 5px solid black;
  z-index: 223;
}

.element-224 {
  color: #d40a75;
  margin: 50px;
  border: 5px solid black;
  z-index: 224;
}

.element-225 {
  color: #23af65;
  margin: 17px;
  border: 5px solid black;
  z-index: 225;
}

.element-226 {
  color: #01645c;
  margin: 12px;
  border: 2px solid black;
  z-index: 226;
}

.element-227 {
  color: #fe31ca;
  margin: 22px;
  border: 2px solid black;
  z-index: 227;
}

.element-228 {
  color: #e8416a;
  margin: 8px;
  border: 4px solid black;
  z-index: 228;
}

.element-229 {
  color: #41566f;
  margin: 21px;
  border: 1px solid black;
  z-index: 229;
}

.element-230 {
  color: #304495;
  margin: 11px;
  border: 4px solid black;
  z-index: 230;
}

.element-231 {
  color: #97babc;
  margin: 11px;
  border: 1px solid black;
  z-index: 231;
}

.element-232 {
  color: #9e9e37;
  margin: 24px;
  border: 3px solid black;
  z-index: 232;
}

.element-233 {
  color: #1e806b;
  margin: 42px;
  border: 2px solid black;
  z-index: 233;
}

.element-234 {
  color: #10d3b7;
  margin: 21px;
  border: 4px solid black;
  z-index: 234;
}

.element-235 {
  color: #a73b71;
  margin: 45px;
  border: 3px solid black;
  z-index: 235;
}

.element-236 {
  color: #e83137;
  margin: 48px;
  border: 3px solid black;
  z-index: 236;
}

.element-237 {
  color: #c472b0;
  margin: 20px;
  border: 3px solid black;
  z-index: 237;
}

.element-238 {
  color: #65f263;
  margin: 13px;
  border: 2px solid black;
  z-index: 238;
}

.element-239 {
  color: #d1722e;
  margin: 45px;
  border: 2px solid black;
  z-index: 239;
}

.element-240 {
  color: #18bc0a;
  margin: 49px;
  border: 5px solid black;
  z-index: 240;
}

.element-241 {
  color: #6920d9;
  margin: 22px;
  border: 5px solid black;
  z-index: 241;
}

.element-242 {
  color: #6f4799;
  margin: 32px;
  border: 2px solid black;
  z-index: 242;
}

.element-243 {
  color: #fc977b;
  margin: 39px;
  border: 5px solid black;
  z-index: 243;
}

.element-244 {
  color: #feb992;
  margin: 33px;
  border: 2px solid black;
  z-index: 244;
}

.element-245 {
  color: #df316f;
  margin: 16px;
  border: 3px solid black;
  z-index: 245;
}

.element-246 {
  color: #89f830;
  margin: 37px;
  border: 4px solid black;
  z-index: 246;
}

.element-247 {
  color: #a9e1e8;
  margin: 17px;
  border: 5px solid black;
  z-index: 247;
}

.element-248 {
  color: #518ddc;
  margin: 46px;
  border: 3px solid black;
  z-index: 248;
}

.element-249 {
  color: #646ed9;
  margin: 47px;
  border: 5px solid black;
  z-index: 249;
}

.element-250 {
  color: #80d487;
  margin: 48px;
  border: 3px solid black;
  z-index: 250;
}

.element-251 {
  color: #6a7694;
  margin: 5px;
  border: 2px solid black;
  z-index: 251;
}

.element-252 {
  color: #c12ed3;
  margin: 35px;
  border: 2px solid black;
  z-index: 252;
}

.element-253 {
  color: #3d3801;
  margin: 4px;
  border: 1px solid black;
  z-index: 253;
}

.element-254 {
  color: #c408e3;
  margin: 45px;
  border: 3px solid black;
  z-index: 254;
}

.element-255 {
  color: #5ede44;
  margin: 19px;
  border: 1px solid black;
  z-index: 255;
}

.element-256 {
  color: #a3f1ab;
  margin: 18px;
  border: 2px solid black;
  z-index: 256;
}

.element-257 {
  color: #5f27c3;
  margin: 28px;
  border: 4px solid black;
  z-index: 257;
}

.element-258 {
  color: #0fecd1;
  margin: 36px;
  border: 1px solid black;
  z-index: 258;
}

.element-259 {
  color: #be20cf;
  margin: 43px;
  border: 5px solid black;
  z-index: 259;
}

.element-260 {
  color: #5afb12;
  margin: 5px;
  border: 1px solid black;
  z-index: 260;
}

.element-261 {
  color: #7a96ff;
  margin: 44px;
  border: 5px solid black;
  z-index: 261;
}

.element-262 {
  color: #e20c9e;
  margin: 2px;
  border: 1px solid black;
  z-index: 262;
}

.element-263 {
  color: #16fdaa;
  margin: 47px;
  border: 2px solid black;
  z-index: 263;
}

.element-264 {
  color: #266637;
  margin: 48px;
  border: 5px solid black;
  z-index: 264;
}

.element-265 {
  color: #2fc9b8;
  margin: 13px;
  border: 1px solid black;
  z-index: 265;
}

.element-266 {
  color: #e2bc76;
  margin: 24px;
  border: 3px solid black;
  z-index: 266;
}

.element-267 {
  color: #bcc706;
  margin: 10px;
  border: 4px solid black;
  z-index: 267;
}

.element-268 {
  color: #072308;
  margin: 37px;
  border: 3px solid black;
  z-index: 268;
}

.element-269 {
  color: #eb10cd;
  margin: 24px;
  border: 3px solid black;
  z-index: 269;
}

.element-270 {
  color: #eb7340;
  margin: 14px;
  border: 4px solid black;
  z-index: 270;
}

.element-271 {
  color: #f00bcd;
  margin: 0px;
  border: 3px solid black;
  z-index: 271;
}

.element-272 {
  color: #2c3de5;
  margin: 49px;
  border: 4px solid black;
  z-index: 272;
}

.element-273 {
  color: #17d7b2;
  margin: 9px;
  border: 4px solid black;
  z-index: 273;
}

.element-274 {
  color: #ff0451;
  margin: 1px;
  border: 1px solid black;
  z-index: 274;
}

.element-275 {
  color: #3c59a1;
  margin: 15px;
  border: 1px solid black;
  z-index: 275;
}

.element-276 {
  color: #86687e;
  margin: 1px;
  border: 1px solid black;
  z-index: 276;
}

.element-277 {
  color: #b59b72;
  margin: 1px;
  border: 2px solid black;
  z-index: 277;
}

.element-278 {
  color: #6e817c;
  margin: 41px;
  border: 2px solid black;
  z-index: 278;
}

.element-279 {
  color: #4b72da;
  margin: 34px;
  border: 5px solid black;
  z-index: 279;
}

.element-280 {
  color: #3abc38;
  margin: 28px;
  border: 4px solid black;
  z-index: 280;
}

.element-281 {
  color: #4926e6;
  margin: 2px;
  border: 3px solid black;
  z-index: 281;
}

.element-282 {
  color: #340372;
  margin: 27px;
  border: 4px solid black;
  z-index: 282;
}

.element-283 {
  color: #2c46ab;
  margin: 20px;
  border: 1px solid black;
  z-index: 283;
}

.element-284 {
  color: #7336f1;
  margin: 32px;
  border: 4px solid black;
  z-index: 284;
}

.element-285 {
  color: #9448e8;
  margin: 26px;
  border: 1px solid black;
  z-index: 285;
}

.element-286 {
  color: #1e5148;
  margin: 23px;
  border: 1px solid black;
  z-index: 286;
}

.element-287 {
  color: #f5233a;
  margin: 31px;
  border: 2px solid black;
  z-index: 287;
}

.element-288 {
  color: #8bc0c3;
  margin: 4px;
  border: 3px solid black;
  z-index: 288;
}

.element-289 {
  color: #425b59;
  margin: 14px;
  border: 5px solid black;
  z-index: 289;
}

.element-290 {
  color: #973b39;
  margin: 47px;
  border: 4px solid black;
  z-index: 290;
}

.element-291 {
  color: #e90c8e;
  margin: 5px;
  border: 5px solid black;
  z-index: 291;
}

.element-292 {
  color: #26a112;
  margin: 42px;
  border: 2px solid black;
  z-index: 292;
}

.element-293 {
  color: #3471e4;
  margin: 2px;
  border: 1px solid black;
  z-index: 293;
}

.element-294 {
  color: #7f30b7;
  margin: 36px;
  border: 4px solid black;
  z-index: 294;
}

.element-295 {
  color: #13d133;
  margin: 40px;
  border: 4px solid black;
  z-index: 295;
}

.element-296 {
  color: #5cdde8;
  margin: 5px;
  border: 3px solid black;
  z-index: 296;
}

.element-297 {
  color: #732852;
  margin: 41px;
  border: 1px solid black;
  z-index: 297;
}

.element-298 {
  color: #4a1505;
  margin: 36px;
  border: 1px solid black;
  z-index: 298;
}

.element-299 {
  color: #863fb2;
  margin: 42px;
  border: 4px solid black;
  z-index: 299;
}

